@font-face {
    font-family: flaticon;
    src: url(./Flaticon.eot);
    src: url(./Flaticon.eot?#iefix) format("embedded-opentype"), url(./Flaticon.woff2) format("woff2"), url(./Flaticon.woff) format("woff"), url(./Flaticon.ttf) format("truetype"), url(./Flaticon.svg#Flaticon) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: flaticon;
        src: url(./Flaticon.svg#Flaticon) format("svg")
    }
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 17px;
    font-style: normal;
    margin-left: 0
}

.flaticon-cart:before {
    content: "\f100"
}

.flaticon-loupe:before {
    content: "\f101"
}

.flaticon-user:before {
    content: "\f102"
}

.flaticon-global:before {
    content: "\f103"
}

.flaticon-bell:before {
    content: "\f104"
}